[submodule "parent"]
	path = parent
	url = https://github.com/tayviscon-edu-platform/backend-parent-submodule.git
	branch = main
[submodule "src/submodules/common"]
	path = src/submodules/common
	url = https://github.com/tayviscon-edu-platform/common-backend-submodule.git
    branch = main
[submodule "src/contracts"]
	path = src/contracts
	url = https://github.com/tayviscon-edu-platform/transfer-contract-submodule.git
	branch = main